html,
body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
}

input::placeholder {
  color: rgba(181, 181, 190, 1)
}

a:visited {
  color: rgba(0, 98, 255, 1);
}

.login-linkContainer {
  position: absolute;
  right: 0px;
  bottom: -50px;
}