* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
  height: 100%;
  overflow: hidden;
}

input::placeholder {
  color: rgba(181, 181, 190, 1)
}

textarea {
  border: none;
  resize: none;
  outline: none;

  &::placeholder {
    color: rgba(108, 117, 125, 1)
  }
}

a:visited {
  color: rgba(0, 98, 255, 1);
}

.authBtn {
  margin-top: 40px;
  font-size: 20px;
  width: 356px;
  height: 46px;
}

.authInput {
  width: 356px;
}

.login-linkContainer {
  position: absolute;
  right: 0px;
  bottom: -50px;
}

//Home頁
.mainContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 178px minmax(400px,1fr) 273px;
  height: 100vh;

  //左container
  .leftContainer {
    margin-top: 8px;
    position: relative;
    height: 100%;
    margin-right: 20px;

    .leftContainer-logo {
      margin: 0 10px;
    }
    .leftContainer-list {

      .leftContainer-list-item {
        display: flex;
        margin: 32px 0;
        cursor: pointer;

        .leftContainer-list-icon {
          width: 24px;
          height: 24px;
          margin: 0 16px;
        }
        .leftContainer-list-text {
          font-size: 18px;
          font-weight: 700;
          line-height: 26px;
        }
        .active {
          color: rgba(255, 102, 0, 1)
        }
      }
      .leftContainer-list-postBtn {
        width: 100%;
        height: 46px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
      }
      .leftContainer-list-logOut {
        position: absolute;
        bottom: 0;
      }
    }
  }

  //中間container
  .centerContainer {
    padding-right: 5px;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    height: 100vh;
    position: relative;

    //卷軸底部
    &::-webkit-scrollbar-track {
      background-color: rgba(240, 240, 240, 1);
    }
    //卷軸整體
    &::-webkit-scrollbar {
      width: 8px;
    }
    //卷軸本身
    &::-webkit-scrollbar-thumb {
      background-color: rgba(193, 193, 193, 1);
      border-radius: 4px;
    }
    .centerContainer-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 26px;
      padding: 24px;
      padding-right: 0;
      border: 1px solid rgba(230, 236, 240, 1);
      width: 100%;
    }
    .centerContainer-posting {
      display: flex;
      align-items: start;
      padding: 6px 5px 60px 19px;
      border-left: 1px solid rgba(230, 236, 240, 1);
      border-right: 1px solid rgba(230, 236, 240, 1);
      border-bottom: 10px solid rgba(230, 236, 240, 1);
      width: 100%;
      position: relative;

      .posting-img {
       margin-top: 5px; 
      }
      .posting-textarea {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: rgba(108, 117, 125, 1);
        margin-top: 16px;
      }
      .posting-btn {
        position: absolute;
        bottom: 16px;
        right: 24px;
        width: 64.5px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 0;
        cursor: pointer;
      }
    }
    &.reply {
      display: none;
    }
  }
  
  .replyListContainer {
    border: 1px solid rgba(230, 236, 240, 1);
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .replyList-header {
      display: flex;
      align-content: center;
      padding: 24px;
      border-bottom: 1px solid rgba(230, 236, 240, 1);

      .replyList-header-back {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      .replyList-header-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        margin-left: 10px;
      }
    }
    .replyList-content {
      margin: 10px;
      border-bottom: 1px solid rgba(230, 236, 240, 1);
      // max-height: 100px;

      .replyList-content-header {
        display: flex;
        align-items: center;

        .content-header-data {
          margin-left: 3px;

          .header-data-username {
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
          }
          .header-data-account {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: rgba(108, 117, 125, 1);
          }
        }
      }
      .replyList-content-text {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        margin: 5px;
      }
      .replyList-content-footer {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        margin: 5px;
        color: rgba(108, 117, 125, 1);
      }
    }
    .replyList-actionCount {
      display: flex;
      align-content: center;
      border-bottom: 1px solid rgba(230, 236, 240, 1);
      margin: 10px;
      padding-bottom: 10px;

      .replyList-actionCount-item {
        font-size: 19px;
        margin: 5px;

        .actionCount-item-count {
          font-weight: 700;
          line-height: 23px;

          .actionCount-item-span {
            font-weight: 400;
            line-height: 27.5px;
            color: rgba(108, 117, 125, 1);
            margin-left: 3px;
          }
        }
      }
    }
    .replyList-action {
      padding: 0 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(230, 236, 240, 1);
      display: flex;
      align-items: center;

      .replyList-action-icon {
        width: 30px;
        height: 30px;
        margin: 5px;
        margin-right: 100px;
        cursor: pointer;
      }
    }
    .replyList-reply {
      overflow-y: auto;
    }
    &.reply {
      display: flex;
    }
  }

  //右邊container
  .rightContainer {
    margin-top: 16px;
    margin-left: 24px;

    .rightContainer-area {
      width: 100%;
      background-color: rgba(250, 250, 251, 1);
      border-radius: 16px;

      .rightContainer-area-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        padding: 24px;
        border-bottom: 1px solid rgba(230, 236, 240, 1);;
      }
      .rightContainer-area-followList {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 12px 10px;

        .followList-content {
          text-align: center;

          .followList-content-username {
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
          }
          .followList-content-account {
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            color: rgba(146, 146, 157, 1);
          }
        }
        .followList-content-btn {
          width: 96px;
          height: 40px;
          padding: 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
  //Information頁
  .informationContainer {
    width: 100%;

    .informationContainer-header {
      display: flex;
      align-items: center;
      border-left: 1px solid rgba(230, 236, 240, 1);
      border-right: 1px solid rgba(230, 236, 240, 1);

      .header-back {
        width: 24px;
        height: 24px;
        margin: 0 24px;
        cursor: pointer;
      }
      .header-content {
        margin: 16px 0px;

        .header-content-username {
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
        }
        .header-content-postCount {
          color: rgba(108, 117, 125, 1);
          font-weight: 500;
          font-size: 13px;
          line-height: 12px;
        }
      }
    }
    .information-self {
      width: 100%;
      display: flex;
      flex-direction: column;
      
      border-left: 1px solid rgba(230, 236, 240, 1);
      border-right: 1px solid rgba(230, 236, 240, 1);

      .self-q {
        position: relative;

        .self-background {
          width: 100%;
          height: auto;
        }
      
        .self-photo {
          width: 140px;
          height: 140px;
          position: absolute;
          left: 16px;
          bottom: -60px;
        }
      
        .self-btn {
          width: 128px;
          height: 40px;
          padding: 0;
          position: absolute;
          right: 16px;
          bottom: -60px;
        }
      }
      
      .self-content {
        margin: 70px 16px 16px 16px;

        .self-content-username {
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
        }
        .self-content-account {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: rgba(108, 117, 125, 1);
        }
        .self-content-text {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
        }
        .self-content-footer {
          display: flex;
          align-items: center;

          .content-footer-following {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            margin-right: 16px;

            .footer-following-span {
              color: rgba(108, 117, 125, 1);
            }
          }
        }
      }
    }
    .information-content {
      width: 100%;

      .content-tabs {
        display: flex;
        align-items: center;
        border-left: 1px solid rgba(230, 236, 240, 1);
        border-right: 1px solid rgba(230, 236, 240, 1);
        border-bottom: 1px solid rgba(230, 236, 240, 1);

        .content-tab {
          width: 130px;
          height: 52px;
          text-align: center;
          font-weight: 700;
          font-size: 15px;
          line-height: 52px;
          color: rgba(101, 119, 134, 1);
          
          cursor: pointer;
        }
        .content-tab-active {
          color: rgba(255, 102, 0, 1);
          border-bottom: 2px solid rgba(255, 102, 0, 1);
        }
      }
      .content-post {
        overflow-y: auto;
        overflow-x: hidden;
        height: 400px;
      }
    }
  }

  //Setting頁
  .settingContainer {
    width: 100%;
    border-left: 1px solid rgba(230, 236, 240, 1);
    border-right: 1px solid rgba(230, 236, 240, 1);
    position: relative;

    .setting-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 26px;
      padding: 24px;
      border-bottom: 1px solid rgba(230, 236, 240, 1);
    }
    .setting-form {
      padding: 0 24px;
    }
    .settingBtn {
      width: 88px;
      height: 46px;
      margin-top: 36px;
      position: absolute;
      right: 24px;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }
  }
}









@media screen and (max-width: 1200px) {
  .mainContainer {

    .informationContainer {

      .information-content {
        
        .content-post {
          height: 450px;
        }
      }
    }
  }
}
