html,
body {
  font-family: "Lato", "Noto Sans TC", sans-serif;
  height: 100%;
  overflow-y: hidden;
}

input::-moz-placeholder {
  color: rgb(181, 181, 190);
}

input::placeholder {
  color: rgb(181, 181, 190);
}

a:visited {
  color: rgb(0, 98, 255);
}

.authBtn {
  margin-top: 40px;
  font-size: 20px;
  width: 356px;
  height: 46px;
}

.login-linkContainer {
  position: absolute;
  right: 0px;
  bottom: -50px;
}

.mainContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 178px 1fr 273px;
  height: 100vh;
}
.mainContainer .leftContainer {
  margin-top: 8px;
  position: relative;
  height: 100%;
}
.mainContainer .leftContainer .leftContainer-list .leftContainer-list-item {
  display: flex;
  margin: 32px 0;
  cursor: pointer;
}
.mainContainer .leftContainer .leftContainer-list .leftContainer-list-item .leftContainer-list-icon {
  width: 24px;
  height: 24px;
  padding: 0 10px;
}
.mainContainer .leftContainer .leftContainer-list .leftContainer-list-item .leftContainer-list-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.mainContainer .leftContainer .leftContainer-list .leftContainer-list-postBtn {
  width: 100%;
  height: 46px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.mainContainer .leftContainer .leftContainer-list .leftContainer-list-logOut {
  position: absolute;
  bottom: 0;
}
.mainContainer .centerContainer {
  margin: 0 20px;
  padding-right: 30px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  scroll-padding: 20px;
}
.mainContainer .centerContainer::-webkit-scrollbar-track {
  background-color: rgb(240, 240, 240);
}
.mainContainer .centerContainer::-webkit-scrollbar {
  width: 8px;
}
.mainContainer .centerContainer::-webkit-scrollbar-thumb {
  background-color: rgb(193, 193, 193);
  border-radius: 4px;
}
.mainContainer .centerContainer .centerContainer-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  padding: 24px;
  padding-right: 0;
  border: 1px solid rgb(230, 236, 240);
  width: 100%;
}
.mainContainer .centerContainer .centerContainer-posting {
  display: flex;
  align-items: center;
  padding: 6px 5px 86px 19px;
  border-left: 1px solid rgb(230, 236, 240);
  border-right: 1px solid rgb(230, 236, 240);
  border-bottom: 10px solid rgb(230, 236, 240);
  width: 100%;
  position: relative;
}
.mainContainer .centerContainer .centerContainer-posting .posting-content {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgb(108, 117, 125);
}
.mainContainer .centerContainer .centerContainer-posting .posting-btn {
  position: absolute;
  bottom: 6px;
  right: 24px;
  width: 64.5px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  cursor: pointer;
}
.mainContainer .centerContainer .centerContainer-post .post-card {
  width: 100%;
  padding: 6px 5px 6px 19px;
  border-left: 1px solid rgb(230, 236, 240);
  border-right: 1px solid rgb(230, 236, 240);
  border-bottom: 1px solid rgb(230, 236, 240);
  display: flex;
}
.mainContainer .centerContainer .centerContainer-post .post-card .post-card-data {
  margin-left: 3px;
  margin-top: 5px;
}
.mainContainer .centerContainer .centerContainer-post .post-card .post-card-data .card-data-header {
  display: flex;
  align-items: center;
}
.mainContainer .centerContainer .centerContainer-post .post-card .post-card-data .card-data-header .data-header-userName {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  margin-right: 5px;
}
.mainContainer .centerContainer .centerContainer-post .post-card .post-card-data .card-data-header .data-header-account, .mainContainer .centerContainer .centerContainer-post .post-card .post-card-data .card-data-header .data-header-dot, .mainContainer .centerContainer .centerContainer-post .post-card .post-card-data .card-data-header .data-header-time {
  color: rgb(108, 117, 125);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.mainContainer .centerContainer .centerContainer-post .post-card .post-card-data .card-data-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 5px 0;
}
.mainContainer .centerContainer .centerContainer-post .post-card .post-card-data .card-data-footer {
  display: flex;
  align-items: center;
}
.mainContainer .centerContainer .centerContainer-post .post-card .post-card-data .card-data-footer .data-footer-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.mainContainer .centerContainer .centerContainer-post .post-card .post-card-data .card-data-footer .data-footer-item .footer-item-icon {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  cursor: pointer;
}
.mainContainer .rightContainer {
  margin-top: 8px;
}/*# sourceMappingURL=App.css.map */